@layer utilities {
  .bg-repeat-x {
    background-repeat: repeat-x;
  }

  .bg-wave {
    background-image: url("/wave.png");
    background-size: 250rem 30rem;
  }

  .animate-wave-slow {
    animation: animate-wave-slow 15s linear infinite;
  }

  .animate-wave-medium {
    animation: animate-wave-medium 15s linear infinite;
  }

  .animate-wave-reverse {
    animation-direction: reverse;
  }

  .animate-wave-fast {
    animation: animate-wave-fast 15s linear infinite;
  }

  .animate-delay-200 {
    animation-delay: 0.2s;
  }

  .animate-delay-5000 {
    animation-delay: 5s;
  }

  @keyframes animate-wave-slow {
    0% {
      background-position-x: 0;
      background-position-y: -250rem;
    }
  }

  @keyframes animate-wave-medium {
    0% {
      background-position-x: 0;
      background-position-y: -250rem;
    }
  }

  @keyframes animate-wave-fast {
    0% {
      background-position-x: 0;
      background-position-y: -250rem;
    }
  }
}
